{% extends "admin/base_admin.html" %}

{% block title %}
Edit User
{% endblock %}

{% block content %}

<h1>Edit User</h1>

<p><strong>ID:</strong> {{ user.id }}</p>

<p><strong>Username:</strong> {{ user.username }}</p>

<p><strong>Email:</strong> {{ user.email }}</p>

<form method="POST">

    <label>Role</label>

    <select name="role">

        <option value="customer"
            {% if user.role == "customer" %}selected{% endif %}>
            Customer
        </option>

        <option value="employee"
            {% if user.role == "employee" %}selected{% endif %}>
            Employee
        </option>

        <option value="admin"
            {% if user.role == "admin" %}selected{% endif %}>
            Admin
        </option>

    </select>

    <br><br>

    <button type="submit">
        Save
    </button>

</form>

{% endblock %}