{% extends "base.html" %}

{% block title %}Employees{% endblock %}

{% block content %}

<h1>Employee List</h1>

{% if employees %}

<table border="1" cellpadding="8">

    <tr>
        <th>Code</th>
        <th>Username</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for employee in employees %}

    <tr>

        <td>{{ employee.employee_code }}</td>

        <td>{{ employee.user.username }}</td>

        <td>{{ employee.department }}</td>

        <td>{{ employee.designation }}</td>

        <td>₹ {{ employee.salary }}</td>

        <td>
            {% if employee.is_active %}
                Active
            {% else %}
                Inactive
            {% endif %}
        </td>

        <td>
            <a href="{{ url_for('admin.view_employee', employee_id=employee.id) }}">
                View
            </a>
            |
            <a href="{{ url_for('admin.edit_employee', employee_id=employee.id) }}">
                Edit
            </a>
        </td>

    </tr>

    {% endfor %}

</table>

{% else %}

<p>No employees found.</p>

{% endif %}

{% endblock %}